#brokerBtn{
    -fx-background-color:#000000,linear-gradient(#ff1500, #f0675b),
                            linear-gradient(#c72020, #b35552);
    -fx-background-radius: 2,2,2,2;
    -fx-padding: 5 8 5 7;
    -fx-text-fill: white;
    -fx-font-size: 13px;
}
AnchorPane{
    -fx-background-color: #13151a;
}

#label{
    -fx-text-fill:#F9F6F0;
}

// Background color of the control itself
.choice-box {
  -fx-font-size:15;
  -fx-background-color: #303338;
  -fx-mark-color: #18de2f; // arrow color
}

// Selected item text color on the control itself
.choice-box > .label {
    -fx-text-fill: #F9F6F0;
}
// Background color of the whole context menu
.choice-box .context-menu {
    -fx-background-color: #303338;
}
// Focused item background color in the list
.choice-box .menu-item:focused {
    -fx-background-color: #4b33b0;
}
// Text color of non-focused items in the list
.choice-box .menu-item > .label {
    -fx-text-fill: #F9F6F0;
 }
// Text color of focused item in the list
.choice-box .menu-item:focused > .label {
    -fx-text-fill: #F9F6F0;
 }